@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&family=Poppins:wght@100;400;500&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: content-box;

  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

body {
  font-size: 18px;
  box-sizing: content-box;
  font-family: "DM Sans", sans-serif;
}

.font-500 {
  font-weight: 500;
}

.purple-100 {
  color: var(--purple-100);
}

.purple-500 {
  color: var(--purple-500);
}

.yellow-100 {
  color: var(--yellow-100);
}

.yellow-500 {
  color: var(--yellow-500);
}

.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.rounded {
  border-radius: 10px;
}

.italic {
  font-style: italic;
}

.block {
  display: block;
}

.center {
  text-align: center;
}

.text-large {
  font-size: 3.8rem;
}

.text-medium {
  font-size: 1.8rem;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
